/* roboto-100 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../../assets/fonts/roboto-v30-latin-100.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../../assets/fonts/roboto-v30-latin-100.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../../assets/fonts/roboto-v30-latin-100.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-100.woff') format('woff'),
        /* Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-100.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../../assets/fonts/roboto-v30-latin-100.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../../assets/fonts/roboto-v30-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../../assets/fonts/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../../assets/fonts/roboto-v30-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../../assets/fonts/roboto-v30-latin-300.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/roboto-v30-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../../assets/fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../../assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../../assets/fonts/roboto-v30-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../../assets/fonts/roboto-v30-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../../assets/fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../../assets/fonts/roboto-v30-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../../assets/fonts/roboto-v30-latin-500.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/roboto-v30-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../../assets/fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../../assets/fonts/roboto-v30-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../../assets/fonts/roboto-v30-latin-700.svg#Roboto') format('svg');
    /* Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1600px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
}

.active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

// header section start

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 80px;

    &_container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        background-color: black;
        height: 80px;
        width: 1160px;
    }

    &_logo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 82px;
        height: 52px;
        border: 1px solid #FFFFFF;
        border-radius: 2px;

        & a {
            text-decoration: none;
        }

        & img {
            position: absolute;
            left: 9px;
            top: 22px;
        }

        & h1 {
            margin: 0;
            font-weight: 400;
            font-size: 19.0145px;
            line-height: 120%;
            text-align: center;
            color: #FFFFFF;
        }
    }

    &_nav {
        margin-left: 63px;

        &-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 58px;
        }

        &-item {
            list-style: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: #FFFFFF;
        }

        &-link {
            text-decoration: none;
            color: white;
        }

        &-link:hover {
            background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }

    &_author {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: white;
        margin-left: 438px;

        & a {
            text-decoration: none;
            color: white;
        }

        & a:hover {
            background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

    }

}

// header section end 

// favorite section start

.favorite {
    width: 1600px;
    background: url("../../assets/images/giant_panda.jpg") no-repeat center;
    background-size: cover;
    height: 700px;
    margin: 0 auto;

    &_circle {
        position: absolute;
        width: 465px;
        height: 465px;
        border-radius: 50%;
        margin: 12px 328px auto 807px;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

        &-text {
            font-weight: 700;
            font-size: 106.496px;
            line-height: 75%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            position: absolute;
            left: 73px;
            top: 74px;
        }
    }

    &_button {
        position: absolute;
        left: calc(50% - 298px/2 + 332px);
        top: 626px;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 292px;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        border-radius: 25px;
        padding: 16px 5px;
    }

    &_button:hover {
        color: #ffffffb5;
    }
}

// favorite section end

// backstage section start

.backstage {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;

    &_container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 87px;
        margin: 140px auto 174px;
        width: 1160px;
    }

    &_text {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;

        & h2 {
            font-weight: 400;
            font-size: 48px;
            line-height: 120%;
            color: #333B41;
            margin-bottom: 20px;
        }

        &-first {
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: #333B41;
            margin-bottom: 54px;
        }

        & h3 {
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
            color: #333B41;
            margin-bottom: 34px;
        }

        &-second {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #333B41;
        }
    }

    &_flower {
        position: absolute;
        top: 16px;
        right: 0;
    }
}

// backstage section end

//pets section start

.arrow_left {
    margin: 24px 21px;
    transform: rotate(-180deg);
}

.arrow_right {
    margin: 24px 21px;
}

.pets {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &_info {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        gap: 22px;
    }

    &_arrow {
        width: 62px;
        height: 62px;
        background: #FFFFFF;
        border: 0.3px solid #FFFFFF;
        border-radius: 50%;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    }

    &_container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px 27px;
        margin: 0 auto 86px;
        width: 1160px;
    }

    &_card {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        border: 1px solid #FA6F32;
        border-radius: 5px;


        &-info {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            margin: 8px 12px 14px 16px;
            justify-content: space-between;
        }

        &-text {
            font-weight: 300;
            font-size: 15px;
            line-height: 120%;
            color: #000000;

            & h4 {
                font-weight: 500;
                font-size: 16px;
                line-height: 140%;
                text-transform: uppercase;
                color: #000000;
            }
        }
    }

    &_button {
        display: flex;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #FE9013;
        border-radius: 25px;
        width: 298px;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
        padding: 16px 5px;
    }

    &_button:hover {
        color: #ffffffb5;
    }

    &_strelitzial {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &_palm {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}


//pets section end

//pick and feed section start

.pick_feed {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;


    &-container {
        margin: 69px 220px 100px;
        width: 1160px;
        height: 835px;
        background: rgba(253, 253, 255, 0.52);
        backdrop-filter: blur(2px);
        border-radius: 20px;

    }
}

//pick and feed section end