.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 400px;
    margin: 0 auto;

    @media (max-width: 420px) {
        padding: 20px;
    }
}

.button_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.button {
    background-color: rgb(14, 192, 168);
    font-size: 18px;
    color: white;
    border: 0;
    padding: 10px;
    box-shadow: 1px 1px 1px black;
}

.button:hover {
    cursor: pointer;
    box-shadow: none;
}

.active {
    background-color: rgb(88, 88, 92);
}

.action_container {
    padding: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 30px;
}

canvas {
    border: 1px solid black;
    background-color: rgb(180, 179, 179);
}

.size_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 10px 0 0 0;
}

.frame_size,
.sizes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field_area {
    font-size: 32px;
    height: 400px;
    padding: 0px;
    position: relative;
    border: 2px solid black;
}

.fieldpiece {
    transition: 1s;
    border: 2px solid black;
    height: 96px;
    line-height: 96px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 96px;
}

.win {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin-top: 20px;
}

.results {
    position: absolute;
    top: 0;
    left: 0;

    & div {
        padding: 10px 15px;
    }

    @media (max-width: 720px) {
        top: 600px;
    }
}